body {
    background-color: #B6D4AA;
}

.block {
    background-color: #006064;
    width: 100px;
    height: 100vh;
}

.block2 {
    width: 200px;
    height: 100vh;
    background-color: #006064;
    position: absolute;
    right: 0;
    top: 0;
}